<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous">
    <link rel="canonical" href="https://getbootstrap.com/docs/5.1/examples/headers/">
    <link rel="stylesheet" href="/style/stylesheet.css">
    <title>Prasetiyo</title>
    <!-- <script>
        function myFunction() {
            alert("Page under maintenance...");
        }
    </script> -->
</head>

<body onload="myFunction()">
    <header class="p-3 bg-dark text-white sticky-top">
        <div class="container">
            <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
                <a class="mod navbar-brand text-white" href="#">PRASETIYO</a>

                <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
                    <li><a href="#" class="nav-link px-2 text-white">About</a></li>
                    <li><a href="#" class="nav-link px-2 text-white">Portfolio</a></li>
                    <li><a href="#" class="nav-link px-2 text-white">Contact</a></li>
                </ul>

                <div class="text-end">
                    <a class="btn btn-warning" role="button" href="/assets/documents/cv-prasetiyo.pdf"
                        target="_blank">Download CV</a>
                </div>
            </div>
        </div>
    </header>

    <!-- Heroes -->
    <!-- Top Wrapper -->
    <div class="top-wrapper">
        <div class="px-4 py-5 text-center">
            <img class="mod" src="assets/@prasetiyo.jpg">
            <h1 class="mod display-5 fw-bold">HI THERE, I'M PRASETIYO</h1>
            <div class="col-lg-6 mx-auto">
                <p class="lead mb-4">Welcome to my CV & Portfolio. Please take a moment to browse my work, skills, and
                    professional experience. It’s my firm belief that a good challenge offers an opportunity to develop
                    and
                    improve, which is why I make a point of seeking out new ones in the professional realm as well as in
                    my
                    personal life. Contact me directly to learn more.</p>
                <div class="d-grid gap-2 d-sm-flex justify-content-sm-center">
                    <button type="button" class="btn btn-primary btn-lg px-4 gap-3">Hire me</button>
                    <button type="button" class="btn btn-outline-secondary btn-lg px-4">More details</button>
                </div>
            </div>
        </div>
    </div>
    <!-- End Top Wrapper -->

    <!-- Portfolio -->
    <div class="portfolio-wrapper">
        <div class="row">
            <% portfolios.forEach((portfolio) => { %>
                <div class="col-sm-6">
                    <div class="mod card left">
                        <img src="<%= portfolio.image %>" class="card-img-bottom" alt="...">
                        <div class="card-body">
                            <h5 class="card-title"><%= portfolio.title %></h5>
                            <p class="card-text"><small class="text-muted">Technologies : <%= portfolio.technology %></small></p>
                            <!-- <p class="card-text"><small class="text-muted">First Deploy: <%= portfolio.first_deploy %>, Last Update: <%= portfolio.last_update %></small></p> -->
                            <a class="btn btn-success" role="button"
                                href="<%= portfolio.link %>" target="_blank">Lihat</a>
                        </div>
                    </div>
                </div>
            <% }) %>
        </div>
    </div>
    <!-- End Portfolio -->

    <!-- Option 1: Bootstrap Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-/bQdsTh/da6pkI1MST/rWKFNjaCP5gBSY4sEBT38Q/9RBh9AH40zEOg7Hlq2THRZ" crossorigin="anonymous">
    </script>
</body>

</html>